<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
</head>
<body>
    {% if recipe.items %}
    <p><a href="/">Вернуться на главную</a></p>
    {% for ingredient, amount in recipe.items %}
        <p>{{ ingredient }}: {{ amount }}</p>
    {% empty %}
        <p>Такого рецепта не знаю :(</p>
    {% endfor %}
{% else %}
    <h1>Добро пожаловать на страницу рецептов!</h1>
    <p>Доступные рецепты:</p>
    <ul>
        {% for dish in recipe %}
            <li><a href="/recipe/{{ dish }}/1/">{{ dish }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>




<!-- 

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <h1>Добро пожаловать на страницу рецептов!</h1>
    <p>Доступные рецепты:</p>
    <ul>
        <li><a href="/omlet/">Омлет</a></li>
        <li><a href="/pasta/">Паста</a></li>
        <li><a href="/buter/">Бутерброд</a></li>
    </ul>
</body>
</html>
 -->
